
/*  main-color   */
$main-link: #d22856;
$main-link-hover: rgba($main-link, 0.6);
$main-link-focus: rgba($main-link, 0.3);
$main-header: #ffffff;
$hero-section: #ffffff;
$section-offer: #283645;
$section-offer__slogan: #000000;
$section-research__capt: #000000;
$section-research: #283645;
$hero-section_btn-download-hover: #d22856;
$hero-section_btn-download-focus: rgba($hero-section_btn-download-hover, 0.3);
$section-quote__slider: #283645;
$quote-slider__autor: #000000;
$section-tariff: #ffffff;
$section-tariff__capt-back: #283645;
$section-tariff__tariff-options: #283645;
$section-contacts__capt: #283645;

/*  page-photo-color   */
$photo-head__capt: #ffffff;
$photo-panorama: #283645;
$photo-like: #d22856;
$photo-panorama-btn-back: #d22856;
$photo-background: #f2f2f2;
$photo-gallery: #283645;
$photo-filters: #283645;
$photo-filters-border: #dddfe0;
$photo-filters-icon: #d22856;
$photo-button: #d22856;
$photo-button-disabled: rgba($photo-filters,0.1);

/*  page-competition-color   */
$competition-form: #283645;
$competition-form-border: #e5e5e5;
$competition-form-border-hover: #283645;
$competition-form-border-active: #d22856;
$competition-form-label: #d22856;
$competition-form__section-caption: #d22856;
$competition-form__dot: #d22856;
$competition-form-background: #f2f2f2;


/*  fonts   */
$page-photo-font: 'Open Sans', sans-serif;
$page-competition-font: 'Open Sans', sans-serif;