.section-quote {
	width: 100%;
}

.quote-slider {
		max-width: 950px;
	padding: 165px 130px 40px;
	margin: 0 auto;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 79px;
		height: 63px;
		top:75px;
		left: 50%;
		transform: translateX(-50%);
		background: transparent url('../img/main/quotes.png') no-repeat;

	}
}
.quote-slider__item {

	outline: none;
}

.quote-slider__quote {
	color: $section-quote__slider;
	font-family: $main-font;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 45px;
	text-align: center;
}
.quote-slider__autor {
	font-size: 24px;
	font-family: $main-font;
	line-height: 30px;
	color: $quote-slider__autor;
	margin: 10px 0;
}
.quote-slider__position {
	color: $section-quote__slider;
	font-family: $main-font;
	margin: 10px 0;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

	.slick-arrow {
		position: absolute;
		margin: 0;
		padding: 0;
		border: none;
		width: 45px;
		height: 45px;
		top: 50%;
	}

	.slick-dots {
		visibility: hidden;
	}
	@media (max-width: 950px) {

		.quote-slider__autor {
			font-size: 20px;
		}
		.quote-slider__position {
			font-size: 14px;
		}
		.slick-dots {
			visibility: visible;
		}
		.slick-arrow {
			visibility: hidden;
		}

		.quote-slider {
			padding:  40px;
			&:before {
				display: none;
			}
		}

	}
	@media (max-width: 700px) {
.quote-slider {
			padding:  40px 20px;
		}
.quote-slider__quote {
	font-size: 14px;
	}
.quote-slider__position {
	display: none;
}


}
